.root {
    -fx-background-color: linear-gradient(rgba(0, 255, 255, 0.6), rgba(0, 0, 255, 0.6));
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar>.thumb {
    -fx-background-color: rgba(0, 170, 255, 0.6);
    -fx-padding: 0.5em;
}

.scroll-bar>.thumb:hover {
    -fx-background-color: rgba(0, 140, 255, 0.6);
}

.scroll-bar>.thumb:pressed {
    -fx-background-color: rgba(0, 100, 255, 0.6);
}

.scroll-bar>.increment-button,
.scroll-bar>.decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar>.increment-button>.increment-arrow,
.scroll-bar>.decrement-button>.decrement-arrow {
    -fx-background-color: rgba(180, 0, 120, 0.8)
}

.scroll-bar>.increment-button:hover>.increment-arrow,
.scroll-bar>.decrement-button:hover>.decrement-arrow {
    -fx-background-color: rgba(255, 0, 120, 0.8)
}

.scroll-bar>.increment-button:pressed>.increment-arrow,
.scroll-bar>.decrement-button:pressed>.decrement-arrow {
    -fx-background-color: rgba(255, 0, 40, 0.8)
}

.button {
    -fx-font-family: "System";
    -fx-font-size: 12px;
    -fx-text-fill: rgba(0, 238, 255, 0.8);
    -fx-background-color: linear-gradient(rgba(0, 0, 255, 0.6), rgba(180, 0, 120, 0.6));
    -fx-background-radius: 14px;
}

.button:hover {
    -fx-background-color: linear-gradient(rgba(180, 0, 120, 0.6), rgba(0, 0, 255, 0.6));
    -fx-font-weight: bold;
}

.button:focused {
    -fx-background-color: linear-gradient(rgba(180, 0, 120, 0.6), rgba(0, 0, 255, 0.6));
}

#header-label {
    -fx-font-family: "Rage Italic";
    -fx-font-size: 64px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(rgba(0, 0, 255, 0.6), rgba(180, 0, 120, 0.6));
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 0, 0, 2, 2);
}

#text-or-password-field {
    -fx-font-family: "System";
    -fx-font-size: 14px;
    -fx-background-color: linear-gradient(rgba(0, 0, 255, 0.6), rgba(180, 0, 120, 0.6));
    -fx-text-fill: rgba(0, 0, 0, 1);
    -fx-prompt-text-fill: rgb(0, 238, 255, 1);
    -fx-background-radius: 14px;
}

#open-recent-combobox {
    -fx-font-family: "System";
    -fx-font-size: 12px;
    -fx-background-color: linear-gradient(rgba(0, 0, 255, 0.6), rgba(180, 0, 120, 0.6));
    -fx-background-radius: 14px;
}

#open-recent-combobox .list-view {
    -fx-background-color: linear-gradient(rgba(0, 0, 255, 0.6), rgba(180, 0, 120, 0.6));
    -fx-background-radius: 14px;
}

#open-recent-combobox .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: rgba(0, 238, 255, 0.8);
    -fx-background-radius: 14px;
}

#open-recent-combobox .list-cell:hover {
    -fx-font-weight: bold;
    -fx-border-color: rgba(0, 238, 255, 0.8);
    -fx-border-radius: 14px;
}

#info-label {
    -fx-font-family: "System";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}