.root {
    -fx-background-color: rgba(50, 50, 50, 1);
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar>.thumb {
    -fx-background-color: rgba(70, 70, 70, 1);
    -fx-padding: 0.5em;
}

.scroll-bar>.thumb:hover {
    -fx-background-color: rgba(85, 85, 85, 1);
}

.scroll-bar>.thumb:pressed {
    -fx-background-color: rgba(105, 105, 105, 1);
}

.scroll-bar>.increment-button,
.scroll-bar>.decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar>.increment-button>.increment-arrow,
.scroll-bar>.decrement-button>.decrement-arrow {
    -fx-background-color: rgba(30, 30, 30, 1);
}

.scroll-bar>.increment-button:hover>.increment-arrow,
.scroll-bar>.decrement-button:hover>.decrement-arrow {
    -fx-background-color: rgba(85, 85, 85, 1);
}

.scroll-bar>.increment-button:pressed>.increment-arrow,
.scroll-bar>.decrement-button:pressed>.decrement-arrow {
    -fx-background-color: rgba(120, 120, 120, 1);
}

.button {
    -fx-font-family: "System";
    -fx-font-size: 12px;
    -fx-text-fill: rgba(200, 200, 200, 1);
    -fx-background-color: linear-gradient(rgba(70, 70, 70, 1), rgba(10, 10, 10, 1));
    -fx-background-radius: 14px;
}

.button:hover {
    -fx-background-color: linear-gradient(rgba(10, 10, 10, 1), rgba(70, 70, 70, 1));
    -fx-font-weight: bold;
}

.button:focused {
    -fx-background-color: linear-gradient(rgba(10, 10, 10, 1), rgba(70, 70, 70, 1));
}

#header-label {
    -fx-font-family: "Rage Italic";
    -fx-font-size: 64px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(rgba(70, 70, 70, 1), rgba(10, 10, 10, 1));
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 0, 0, 2, 2);
}

#text-or-password-field {
    -fx-font-family: "System";
    -fx-font-size: 14px;
    -fx-background-color: linear-gradient(rgba(70, 70, 70, 1), rgba(10, 10, 10, 1));
    -fx-prompt-text-fill: rgba(200, 200, 200, 1);
    -fx-text-fill: rgba(200, 200, 200, 1);
    -fx-background-radius: 14px;
}

#open-recent-combobox {
    -fx-font-family: "System";
    -fx-font-size: 12px;
    -fx-background-color: linear-gradient(rgba(70, 70, 70, 1), rgba(10, 10, 10, 1));
    -fx-background-radius: 14px;
}

#open-recent-combobox .list-view {
    -fx-background-color: linear-gradient(rgba(70, 70, 70, 1), rgba(10, 10, 10, 1));
    -fx-background-radius: 14px;
}

#open-recent-combobox .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: rgba(200, 200, 200, 1);
    -fx-background-radius: 14px;
}

#open-recent-combobox .list-cell:hover {
    -fx-font-weight: bold;
    -fx-border-color: rgba(200, 200, 200, 1);
    -fx-border-radius: 14px;
}

#info-label {
    -fx-font-family: "System";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}