.root {
    -fx-background-color: rgba(50, 50, 50, 1);
}

#top-login-button {
    -fx-font-family: "System";
    -fx-font-size: 12px;
    -fx-text-fill: rgba(200, 200, 200, 1);
    -fx-background-color: linear-gradient(rgba(70, 70, 70, 1), rgba(10, 10, 10, 1));
    -fx-background-radius: 14px;
}

#top-login-button:hover {
    -fx-background-color: linear-gradient(rgba(10, 10, 10, 1), rgba(70, 70, 70, 1));
    -fx-font-weight: bold;
}

#top-login-button:focused {
    -fx-background-color: linear-gradient(rgba(10, 10, 10, 1), rgba(70, 70, 70, 1));
}

#top-new-button {
    -fx-font-family: "System";
    -fx-font-size: 12px;
    -fx-text-fill: rgba(200, 200, 200, 1);
    -fx-background-color: linear-gradient(rgba(70, 70, 70, 1), rgba(10, 10, 10, 1));
    -fx-background-radius: 14px;
}

#top-new-button:hover {
    -fx-background-color: linear-gradient(rgba(10, 10, 10, 1), rgba(70, 70, 70, 1));
    -fx-font-weight: bold;
}

#top-new-button:focused {
    -fx-background-color: linear-gradient(rgba(10, 10, 10, 1), rgba(70, 70, 70, 1));
}

#top-save-button {
    -fx-font-family: "System";
    -fx-font-size: 12px;
    -fx-text-fill: rgba(200, 200, 200, 1);
    -fx-background-color: linear-gradient(rgba(70, 70, 70, 1), rgba(10, 10, 10, 1));
    -fx-background-radius: 14px;
}

#top-save-button:hover {
    -fx-background-color: linear-gradient(rgba(10, 10, 10, 1), rgba(70, 70, 70, 1));
    -fx-font-weight: bold;
}

#top-save-button:focused {
    -fx-background-color: linear-gradient(rgba(10, 10, 10, 1), rgba(70, 70, 70, 1));
}

#top-close-button {
    -fx-font-family: "System";
    -fx-font-size: 12px;
    -fx-text-fill: rgba(200, 200, 200, 1);
    -fx-background-color: linear-gradient(rgba(70, 70, 70, 1), rgba(10, 10, 10, 1));
    -fx-background-radius: 14px;
}

#top-close-button:hover {
    -fx-background-color: linear-gradient(rgba(10, 10, 10, 1), rgba(70, 70, 70, 1));
    -fx-font-weight: bold;
}

#top-close-button:focused {
    -fx-background-color: linear-gradient(rgba(10, 10, 10, 1), rgba(70, 70, 70, 1));
}

#top-quit-button {
    -fx-font-family: "System";
    -fx-font-size: 12px;
    -fx-text-fill: rgba(200, 200, 200, 1);
    -fx-background-color: linear-gradient(rgba(70, 70, 70, 1), rgba(10, 10, 10, 1));
    -fx-background-radius: 14px;
}

#top-quit-button:hover {
    -fx-background-color: linear-gradient(rgba(10, 10, 10, 1), rgba(70, 70, 70, 1));
    -fx-font-weight: bold;
}

#top-quit-button:focused {
    -fx-background-color: linear-gradient(rgba(10, 10, 10, 1), rgba(70, 70, 70, 1));
}

#top-about-button {
    -fx-font-family: "System";
    -fx-font-size: 12px;
    -fx-text-fill: rgba(200, 200, 200, 1);
    -fx-background-color: linear-gradient(rgba(70, 70, 70, 1), rgba(10, 10, 10, 1));
    -fx-background-radius: 14px;
}

#top-about-button:hover {
    -fx-background-color: linear-gradient(rgba(10, 10, 10, 1), rgba(70, 70, 70, 1));
    -fx-font-weight: bold;
}

#top-about-button:focused {
    -fx-background-color: linear-gradient(rgba(10, 10, 10, 1), rgba(70, 70, 70, 1));
}

#top-theme-button {
    -fx-font-family: "System";
    -fx-font-size: 12px;
    -fx-text-fill: rgba(200, 200, 200, 1);
    -fx-background-color: linear-gradient(rgba(70, 70, 70, 1), rgba(10, 10, 10, 1));
    -fx-background-radius: 14px;
}

#top-theme-button:hover {
    -fx-background-color: linear-gradient(rgba(10, 10, 10, 1), rgba(70, 70, 70, 1));
    -fx-font-weight: bold;
}

#top-theme-button:focused {
    -fx-background-color: linear-gradient(rgba(10, 10, 10, 1), rgba(70, 70, 70, 1));
}

.table-column {
    -fx-text-fill: rgba(210, 210, 210, 1);
}

.table-view {
    /*-fx-background-color: linear-gradient(rgba(15, 15, 15, 0.8), rgba(10, 10, 10, 1));*/
    -fx-background-color: transparent;
}

.table-row-cell {
    -fx-background-color: transparent;
    -fx-border-color: rgba(100, 100, 100, 0.8);
}

.table-row-cell:hover {
    -fx-border-color: rgba(180, 180, 180, 1);
    -fx-background-color: rgba(30, 30, 30, 1);
}

.table-row-cell:focused {
    -fx-font-weight: bold;
    -fx-border-color: rgba(180, 180, 180, 1);
    -fx-background-color: rgba(30, 30, 30, 1);
}

#app-field {
    -fx-font-family: "System";
    -fx-font-size: 14px;
    -fx-background-color: linear-gradient(rgba(70, 70, 70, 1), rgba(10, 10, 10, 1));
    -fx-text-fill: rgba(200, 200, 200, 1);
    -fx-prompt-text-fill: rgba(200, 200, 200, 1);
    -fx-background-radius: 14px;
}

#username-field {
    -fx-font-family: "System";
    -fx-font-size: 14px;
    -fx-background-color: linear-gradient(rgba(70, 70, 70, 1), rgba(10, 10, 10, 1));
    -fx-text-fill: rgba(200, 200, 200, 1);
    -fx-prompt-text-fill: rgba(200, 200, 200, 1);
    -fx-background-radius: 14px;
}

#password-field {
    -fx-font-family: "System";
    -fx-font-size: 14px;
    -fx-background-color: linear-gradient(rgba(70, 70, 70, 1), rgba(10, 10, 10, 1));
    -fx-text-fill: rgba(200, 200, 200, 1);
    -fx-prompt-text-fill: rgba(200, 200, 200, 1);
    -fx-background-radius: 14px;
}

#generate-button {
    -fx-font-family: "System";
    -fx-font-size: 10px;
    -fx-text-fill: rgba(200, 200, 200, 1);
    -fx-background-color: linear-gradient(rgba(70, 70, 70, 1), rgba(10, 10, 10, 1));
    -fx-background-radius: 14px;
}

#generate-button:hover {
    -fx-background-color: linear-gradient(rgba(10, 10, 10, 1), rgba(70, 70, 70, 1));
    -fx-font-weight: bold;
}

#generate-button:focused {
    -fx-background-color: linear-gradient(rgba(10, 10, 10, 1), rgba(70, 70, 70, 1));
    -fx-font-weight: bold;
}

#add-button {
    -fx-font-family: "System";
    -fx-font-size: 16px;
    -fx-text-fill: rgba(200, 200, 200, 1);
    -fx-background-color: linear-gradient(rgba(70, 70, 70, 1), rgba(10, 10, 10, 1));
    -fx-background-radius: 16px;
}

#add-button:hover {
    -fx-background-color: linear-gradient(rgba(10, 10, 10, 1), rgba(70, 70, 70, 1));
    -fx-font-weight: bold;
}

#add-button:focused {
    -fx-background-color: linear-gradient(rgba(10, 10, 10, 1), rgba(70, 70, 70, 1));
    -fx-font-weight: bold;
}
