.root {
    -fx-background-color: linear-gradient(rgba(0, 255, 255, 0.6), rgba(0, 200, 255, 0.6));
}

.split-pane>.split-pane-divider {
    -fx-background-color: rgba(0, 180, 255, 0.6);
    -fx-padding: 2px;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar>.thumb {
    -fx-background-color: rgba(0, 170, 255, 0.6);
    -fx-padding: 0.5em;
}

.scroll-bar>.thumb:hover {
    -fx-background-color: rgba(0, 140, 255, 0.6);
}

.scroll-bar>.thumb:pressed {
    -fx-background-color: rgba(0, 100, 255, 0.6);
}

.scroll-bar>.increment-button,
.scroll-bar>.decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar>.increment-button>.increment-arrow,
.scroll-bar>.decrement-button>.decrement-arrow {
    -fx-background-color: rgba(180, 0, 120, 0.8)
}

.scroll-bar>.increment-button:hover>.increment-arrow,
.scroll-bar>.decrement-button:hover>.decrement-arrow {
    -fx-background-color: rgba(255, 0, 120, 0.8)
}

.scroll-bar>.increment-button:pressed>.increment-arrow,
.scroll-bar>.decrement-button:pressed>.decrement-arrow {
    -fx-background-color: rgba(255, 0, 40, 0.8)
}

.button {
    -fx-font-family: "System";
    -fx-font-size: 12px;
    -fx-text-fill: rgba(0, 238, 255, 0.8);
    -fx-background-color: linear-gradient(rgba(0, 0, 255, 0.6), rgba(180, 0, 120, 0.6));
    -fx-background-radius: 14px;
}

.button:hover {
    -fx-background-color: linear-gradient(rgba(180, 0, 120, 0.6), rgba(0, 0, 255, 0.6));
    -fx-font-weight: bold;
}

.button:focused {
    -fx-background-color: linear-gradient(rgba(180, 0, 120, 0.6), rgba(0, 0, 255, 0.6));
}

.table-column {
    -fx-text-fill: rgba(0, 0, 0, 1);
}

.table-view {
    /*-fx-background-color: linear-gradient(rgba(0, 255, 255, 0.6), rgba(0, 0, 255, 0.6));*/
    -fx-background-color: transparent;
}

.table-view>.column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header,
.table-view .filler,
.table-view>.column-header-background>.show-hide-columns-button,
.table-view:constrained-resize .filler {
    -fx-background-color: transparent;
    -fx-size: 2em;
}

.table-view .column-header .label,
.tree-table-view .column-header .label {
    -fx-text-fill: rgba(190, 0, 255, 1);
    -fx-font-weight: bold;
}

.table-row-cell {
    -fx-background-color: transparent;
    -fx-border-color: rgba(50, 50, 50, 0.8);
}

.table-row-cell:hover {
    -fx-border-color: rgba(180, 0, 255, 1);
    -fx-background-color: rgba(0, 100, 255, 0.8);
}

.table-row-cell:focused {
    -fx-font-weight: bold;
    -fx-border-color: rgba(180, 0, 255, 1);
    -fx-background-color: rgba(0, 100, 255, 0.8);
}

.text-field {
    -fx-font-family: "System";
    -fx-font-size: 14px;
    -fx-background-color: linear-gradient(rgba(0, 0, 255, 0.6), rgba(180, 0, 120, 0.6));
    -fx-text-fill: rgb(0, 238, 255, 0.8);
    -fx-prompt-text-fill: rgb(0, 238, 255, 0.8);
    -fx-background-radius: 14px;
}

.slider .track {
    -fx-background-color: linear-gradient(rgba(0, 0, 255, 0.6), rgba(180, 0, 120, 0.6));
}

.slider .thumb {
    -fx-background-color: linear-gradient(rgba(180, 0, 120, 0.8), rgba(0, 0, 255, 0.8));
}

.slider .thumb:hover {
    -fx-background-color: linear-gradient(rgba(210, 0, 150, 0.8), rgba(120, 120, 255, 0.8));
}

#generate-button {
    -fx-font-size: 10px;
    -fx-background-radius: 14px;
}

#add-button {
    -fx-font-size: 16px;
    -fx-background-radius: 16px;
}

#pwd-length-label {
    -fx-font-family: "System";
    -fx-font-size: 12px;
    -fx-text-fill: linear-gradient(rgba(0, 0, 255, 0.6), rgba(180, 0, 120, 0.6));
}