.root {
    -fx-background-color: rgba(50, 50, 50, 1);
}

.split-pane>.split-pane-divider {
    -fx-background-color: rgba(62, 62, 62, 1);
    -fx-padding: 2px;
}

.scroll-bar {
    -fx-background-color: transparent;
}

.scroll-bar>.thumb {
    -fx-background-color: rgba(70, 70, 70, 1);
    -fx-padding: 0.5em;
}

.scroll-bar>.thumb:hover {
    -fx-background-color: rgba(85, 85, 85, 1);
}

.scroll-bar>.thumb:pressed {
    -fx-background-color: rgba(105, 105, 105, 1);
}

.scroll-bar>.increment-button,
.scroll-bar>.decrement-button {
    -fx-background-color: transparent;
}

.scroll-bar>.increment-button>.increment-arrow,
.scroll-bar>.decrement-button>.decrement-arrow {
    -fx-background-color: rgba(30, 30, 30, 1);
}

.scroll-bar>.increment-button:hover>.increment-arrow,
.scroll-bar>.decrement-button:hover>.decrement-arrow {
    -fx-background-color: rgba(85, 85, 85, 1);
}

.scroll-bar>.increment-button:pressed>.increment-arrow,
.scroll-bar>.decrement-button:pressed>.decrement-arrow {
    -fx-background-color: rgba(120, 120, 120, 1);
}

.button {
    -fx-font-family: "System";
    -fx-font-size: 12px;
    -fx-text-fill: rgba(200, 200, 200, 1);
    -fx-background-color: linear-gradient(rgba(70, 70, 70, 1), rgba(10, 10, 10, 1));
    -fx-background-radius: 14px;
}

.button:hover {
    -fx-background-color: linear-gradient(rgba(10, 10, 10, 1), rgba(70, 70, 70, 1));
    -fx-font-weight: bold;
}

.button:focused {
    -fx-background-color: linear-gradient(rgba(10, 10, 10, 1), rgba(70, 70, 70, 1));
}

.table-column {
    -fx-text-fill: rgba(210, 210, 210, 1);
}

.table-view {
    /*-fx-background-color: linear-gradient(rgba(15, 15, 15, 0.8), rgba(10, 10, 10, 1));*/
    -fx-background-color: transparent;
}

.table-view>.column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header,
.table-view .filler,
.table-view>.column-header-background>.show-hide-columns-button,
.table-view:constrained-resize .filler {
    -fx-background-color: transparent;
    -fx-size: 2em;
}

.table-view .column-header .label,
.tree-table-view .column-header .label {
    -fx-text-fill: rgba(190, 190, 190, 1);
    -fx-font-weight: bold;
}

.table-row-cell {
    -fx-background-color: transparent;
    -fx-border-color: rgba(100, 100, 100, 0.8);
}

.table-row-cell:hover {
    -fx-border-color: rgba(180, 180, 180, 1);
    -fx-background-color: rgba(30, 30, 30, 1);
}

.table-row-cell:focused {
    -fx-font-weight: bold;
    -fx-border-color: rgba(180, 180, 180, 1);
    -fx-background-color: rgba(30, 30, 30, 1);
}

.text-field {
    -fx-font-family: "System";
    -fx-font-size: 14px;
    -fx-background-color: linear-gradient(rgba(70, 70, 70, 1), rgba(10, 10, 10, 1));
    -fx-text-fill: rgba(200, 200, 200, 1);
    -fx-prompt-text-fill: rgba(200, 200, 200, 1);
    -fx-background-radius: 14px;
}

.slider .track {
    -fx-background-color: linear-gradient(rgba(70, 70, 70, 1), rgba(10, 10, 10, 1));
}

.slider .thumb {
    -fx-background-color: rgba(120, 120, 120, 1);
}

.slider .thumb:hover {
    -fx-background-color: rgba(160, 160, 160, 1);
}

#generate-button {
    -fx-font-size: 10px;
    -fx-background-radius: 14px;
}

#add-button {
    -fx-font-size: 16px;
    -fx-background-radius: 16px;
}

#pwd-length-label {
    -fx-font-family: "System";
    -fx-font-size: 12px;
    -fx-text-fill: rgba(120, 120, 120, 1);
}