.root {
    -fx-background-color: rgba(50, 50, 50, 1);
}

.button {
    -fx-font-family: "System";
    -fx-font-size: 12px;
    -fx-text-fill: rgba(200, 200, 200, 1);
    -fx-background-color: linear-gradient(rgba(70, 70, 70, 1), rgba(10, 10, 10, 1));
    -fx-background-radius: 14px;
}

.button:hover {
    -fx-background-color: linear-gradient(rgba(10, 10, 10, 1), rgba(70, 70, 70, 1));
    -fx-font-weight: bold;
}

.button:focused {
    -fx-background-color: linear-gradient(rgba(10, 10, 10, 1), rgba(70, 70, 70, 1));
}

#header-label {
    -fx-font-family: "Rage Italic";
    -fx-font-size: 64px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(rgba(70, 70, 70, 1), rgba(10, 10, 10, 1));
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 0, 0, 2, 2);
}

#info-label {
    -fx-font-family: "System";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

#text-or-password-field {
    -fx-font-family: "System";
    -fx-font-size: 14px;
    -fx-background-color: linear-gradient(rgba(70, 70, 70, 1), rgba(10, 10, 10, 1));
    -fx-prompt-text-fill: rgba(200, 200, 200, 1);
    -fx-text-fill: rgba(200, 200, 200, 1);
    -fx-background-radius: 14px;
}