.root {
    -fx-background-color: linear-gradient(rgba(0, 255, 255, 0.6), rgba(0, 0, 255, 0.6));
}

.button {
    -fx-font-family: "System";
    -fx-font-size: 12px;
    -fx-text-fill: rgba(0, 238, 255, 0.8);
    -fx-background-color: linear-gradient(rgba(0, 0, 255, 0.6), rgba(180, 0, 120, 0.6));
    -fx-background-radius: 14px;
}

.button:hover {
    -fx-background-color: linear-gradient(rgba(180, 0, 120, 0.6), rgba(0, 0, 255, 0.6));
    -fx-font-weight: bold;
}

.button:focused {
    -fx-background-color: linear-gradient(rgba(180, 0, 120, 0.6), rgba(0, 0, 255, 0.6));
}

#header-label {
    -fx-font-family: "Rage Italic";
    -fx-font-size: 64px;
    -fx-font-weight: bold;
    -fx-text-fill: linear-gradient(rgba(0, 0, 255, 0.6), rgba(180, 0, 120, 0.6));
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 0, 0, 2, 2);
}

#info-label {
    -fx-font-family: "System";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

#text-or-password-field {
    -fx-font-family: "System";
    -fx-font-size: 14px;
    -fx-background-color: linear-gradient(rgba(0, 0, 255, 0.6), rgba(180, 0, 120, 0.6));
    -fx-text-fill: rgba(0, 0, 0, 1);
    -fx-prompt-text-fill: rgb(0, 238, 255, 1);
    -fx-background-radius: 14px;
}